body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 2em;
font-weight: bold;
background-color: rgb(255, 100, 80);
padding: 0;
margin: 0;
color: white
}

.schedule {
    text-align: left;
}

.jumbotron {
    text-align: center;
    background-color: rgb(200,100,80)
}

.container {
    text-align: center;
}

tr {
    display: inline-block;
    margin-right: 1em;
    padding: 0 1em 0 1em;
}

tr:hover {
    background-color: rgb(200,100,80)
}

.addBtn {
    margin: 1em 0 1em 1em;
}

.tdTwo {
    color: black;
}